<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>InitParamDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>InitServlet</servlet-name>
  	<servlet-class>com.learning.initservlet.InitServlet</servlet-class>
  	<init-param>
  		<param-name>demoVal</param-name>
  		<param-value>Its Monday</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InitServlet</servlet-name>
  	<url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <!-- context-param won't be configured within any servlet configuration as
  it is not meant for specific servlet  -->
  <context-param>
  	<param-name>sampleVal</param-name>
  	<param-value>Weekend is over</param-value>
  </context-param>
</web-app>